nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(68, 180, 180);
  height: 60px;
  position: relative;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

nav li {
  margin: 0 10px;

}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
  color: rgb(17, 18, 19);
}

nav a:hover {
  color: #ccc;
  transform: scale(1.2);
}

#title {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 767px) {
  nav {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin-bottom: 10px;
  }

  #title {
    display: none;
  }
}
